/.vscode
/nbproject/private/

/logs/*.log
/firma/*.p12
/error.log

/data/factura_venta/*.gif
/procesos/autorizacion_documentos/*.gif
/data/liquidacion_compras/*.gif
/procesos/autorizacion_documentos/tmp/*.tmp

/data/productos/fotos_productos/*.jpg
/data/productos/fotos_productos/*.jfif
/data/productos/fotos_productos/*.pjpeg 
/data/productos/fotos_productos/*.pjp
/data/productos/fotos_productos/*.svg
/data/productos/fotos_productos/*.jpeg
/data/productos/fotos_productos/*.png
/data/productos/fotos_productos/*.gif
/data/productos/fotos_productos/*.webp
!/data/productos/fotos_productos/placeholder.png


/data/registro_equipo/fotos_registro_equipos/*.jpg
/data/registro_equipo/fotos_registro_equipos/*.jfif
/data/registro_equipo/fotos_registro_equipos/*.pjpeg 
/data/registro_equipo/fotos_registro_equipos/*.pjp
/data/registro_equipo/fotos_registro_equipos/*.svg
/data/registro_equipo/fotos_registro_equipos/*.jpeg
/data/registro_equipo/fotos_registro_equipos/*.png
/data/registro_equipo/fotos_registro_equipos/*.gif
/data/registro_equipo/fotos_registro_equipos/*.webp
!/data/registro_equipo/fotos_registro_equipos/.gitkeep

!/xmls
!/atsxml
/xmls/*
/atsxml/*
/xmls/**/
/atsxml/**/
!/atsxml/public/
!/xmls/public/
/atsxml/public/*
/xmls/public/*
!/atsxml/.gitkeep
!/xmls/.gitkeep
!/atsxml/public/.gitkeep
!/xmls/public/.gitkeep

/reportes/formatos_impresion/facturas/temp.gif
/reportes/formatos_impresion/notas_credito/temp.gif
/reportes/formatos_impresion/retenciones_compra/temp.gif
/data/factura_compra/temp.gif
/data/notas_credito/temp.gif
/data/registro_gastos/temp.gif
